<nav>
    <ul class="flex items-center justify-center gap-1">
        <li>Powered by</li>
        <li>
            <a href="https://rust-lang.org">
                <span class="sr-only">Rust</span>
                <span
                    class="icon-[vscode-icons--file-type-rust] flex transition-transform duration-200 transform hover:scale-125 hover:-translate-y-1"
                    style="width: 1.4rem; height: 1.4rem"
                ></span>
            </a>
        </li>

        <a href="https://htmx.org">
            <span class="sr-only">htmx</span>
            <span
                class="icon-[skill-icons--htmx-light] flex transition-transform duration-200 transform hover:scale-125 hover:-translate-y-1"
            ></span>
        </a>

        <a href="https://shuttle.rs">
            <span class="sr-only">Shuttle</span>
            <span
                class="icon-[vscode-icons--file-type-shuttle] flex transition-transform duration-200 transform hover:scale-125 hover:-translate-y-1"
            ></span>
        </a>

        <!-- <a
            href="https://github.com/ericpko/dev-portfolio"
            class="font-ubuntu text-center text-xs leading-5 text-neutral-500 hover:text-neutral-400"
            >02a520</a
        > -->
    </ul>
</nav>
