<nav>
    <ul class="flex items-center justify-center gap-4">
        <li class="font-bold">&lt;nav&gt</li>
        <li>
            <a
                class="transition-colors ease-in-out hover:text-blue-300"
                href="/"
                >Home</a
            >
        </li>
        <li>
            <a
                class="transition-colors ease-in-out hover:text-blue-300"
                href="/blogs"
                >Blogs</a
            >
        </li>
        <li>
            <a
                class="transition-colors ease-in-out hover:text-blue-300"
                href="/projects"
                >Projects</a
            >
        </li>
        <li class="font-bold">&lt;/nav&gt</li>
    </ul>
</nav>
