<!-- prettier-ignore -->
{% extends "layout.html" %}

{% block title %}Projects{% endblock %}

{% block content %}

<section class="mx-auto flex max-w-2xl flex-col gap-5">
    <h1 class="text-center font-mono text-2xl">
        &lt;page&gt <strong class="text-3xl">Projects</strong> &lt;/page&gt
    </h1>
    <p>
        Coming soon... But in the meantime,
        <a
            href="https://ericpko.github.io/projects/billard-balls"
            target="_blank"
            class="text-blue-300"
            >here's a link</a
        >
        to my old dev site.
    </p>
</section>

{% endblock %}
